{% extends "layout.html" %}

{% block title %}
    {{ error }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- searched url -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Server location:</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ url }}</p>
                    </div>
                </div>

                <!-- error code and message display -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ code }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
